/* @font-face {
    font-family: "AndersonGrotesk";
    src: url("./AndersonGroteskRegular.woff");
    font-weight: 400;
}

@font-face {
    font-family: "AndersonGrotesk";
    src: url("./AndersonGroteskBold.woff");
    font-weight: 700;
}

@font-face {
    font-family: "AndersonGrotesk";
    src: url("./AndersonGroteskUltraBold.woff");
    font-weight: 800;
}

@font-face {
    font-family: "AndersonGrotesk";
    src: url("./AndersonGroteskBlack.woff");
    font-weight: 900;
} */